@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open-Sans", Arial, Helvetica, sans-serif;
}

:root {
    --header-height: 5rem;
    --main-height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
    --footer-height: 3rem;
}

/* Body Section */

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

/* Container Section */

.container {
    display: grid;
    grid-template-columns: 
        "header header header";
}

/* Header Section */

header {
    outline: 1px solid #000;
    grid-area: header;
}

/* Main Section */

main {
    outline: 1px solid #000;
    grid-area: main;
}

/* Aside Section */

aside {
    outline: 1px solid #000;
    grid-area: aside;
}

/* Footer Section */

footer {
    outline: 1px solid #000;
    grid-area: footer;
}

dialog {
    outline: 1px solid #000;
    height: 100%;
    position: absolute;
    top: 0;
    left: 90rem;
    width: 25rem;
}

.close-menu {
    font-size: 1.25rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.dialog-title {
    font-size: 2rem;
    text-align: center;
    margin: 5rem 0 0 0;
}

.form-container {
    display: flex;
    justify-content: center;
    height: inherit
}

form {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem 1rem 1rem;
    max-width: 90%;
    height: 27rem;
    margin: 4rem;
}

.form-title {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    padding: 0.5rem;
}

input[type=text], select, input[type=number] {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    height: 2.5rem;
    width: 18rem;
}

.checkbox-read {
    display: flex;
    justify-content: center;
    font-size: .9rem;
    font-weight: 300;
    gap: .25rem;
    align-items: center;
}

.form-control-panel {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.form-control-panel button {
    font-size: 1.1rem;
    font-weight: 300;
    padding: .25rem;
}