@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    box-sizing: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

/* Header Section */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.75rem 2rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 550;
    letter-spacing: .1rem;
    gap: 1rem;
}

.logo i {
    font-size: 1.75rem;
}

.header-controls {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

.fa-sun {
    display: none;
}

.fa-moon:hover, .fa-bars:hover, .fa-sun:hover, .fa-sun:hover {
    cursor: pointer;
}

/* Main Section */

/* Menu */

.menu {
    display: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    z-index: 2;
    position: absolute;
    padding: 1.5rem 2rem;
    min-height: 100%;
    right: 0;
    top: 0;
}

.menu-title {
    font-size: 1.65rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-top: 8rem;
    margin-bottom: 2.5rem;
}

.close-icon {
    display: flex;
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    font-size: 2.2rem;
}

.close-icon:hover {
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > div {
    padding: .75rem 0;
}

form > p {
    font-size: 1.25rem;
    padding-top: 1.5rem;
    padding-bottom: 1.65rem;
}

input[type=text], input[type=number] {
    min-height: 1.9rem;
    min-width: 12rem;
}

input[type=text]::placeholder, input[type=number]::placeholder {
    font-size: 1.1rem;
    letter-spacing: .2rem;
    color: #000;
}

#read-label {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
    margin-top: 1rem;
}

.add-book-buttons {
    display: flex;
    gap: 2.75rem;
    padding-top: 1.95rem;
}

.add-book-buttons button {
    font-size: 1.15rem;
    font-weight: 550;
    padding: .25rem;
    letter-spacing: .05rem;
}
