@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

body {
    font-size: 62.5%;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    min-width: 100%;
}

/* Header Section */

header {
    padding: 1.5rem 2rem;
}

/* Navigation Bar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1.1rem;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-list a {
    font-size: 1.1rem;
    font-weight: 400;
}

.sign-in button {
    font-size: 1.1rem;
    font-weight: 400;
    padding: .1rem .5rem;
    letter-spacing: .1rem;
}

/* Main Section */

.create-book {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    min-width: 100%;
}

.create-book button {
    font-size: 1.1rem;
    font-weight: 400;
    padding: .1rem .2rem;
    letter-spacing: .1rem;
}

main {
    display: flex
}

#dialog {
    position: absolute;
    justify-content: center;
    margin: 0 auto;
    border-radius: .25rem;
    top: 15rem;
}

.close-bookform {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.close-bookform .fa-xmark:hover {
    cursor: pointer;
}

.fa-xmark {
    font-size: 1.4rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2.75rem;
    border-radius: .25rem;
}

form h4 {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: .1rem;
    padding: 1rem .5rem;
}

form div {
    padding: .5rem 0;
}

input[type=text] {
    font-size: 1.1rem;
    min-width: 11rem;
    min-height: 2rem;
    padding: .2rem;
    letter-spacing: .2rem;
    color: #011;
}

input[type=text]::placeholder {
    font-size: 1.1rem;
    font-weight: 500;
    padding: .2rem;
    letter-spacing: .1rem;
    color: #011;
}

input[type=number] {
    font-size: 1.1rem;
    font-weight: 500;
    min-width: 11rem;
    min-height: 2rem;
    padding: .2rem;
    letter-spacing: .1rem;
    color: #011;
}

input[type=number]::placeholder {
    font-size: 1.1rem;
    font-weight: 500;
    padding: .1rem;
    letter-spacing: .1rem;
    color: #011;
}

#label-read {
    display: flex;
    font-size: .85rem;
    align-items: center;
    gap: .25rem;
    padding: .25rem 0;
}

.bookform-controls {
    display: flex;
    gap: 1rem;
    padding: .5rem 0;
}

.bookform-controls button {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: .1rem;
    padding: .1rem .2rem;
}

/* Footer Section */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    padding: 1.5rem 0;
    letter-spacing: .1rem;
}

footer p {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 550;
}

footer i {
    font-size: 1.75rem;
}

