@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --header-height: 5rem;
    --main-height: calc(100vh - var(--header-height) - var(--footer-height));
    --footer-height: 3rem;
}

body {
    font-family: "Open Sans";
}

.container {
    height: 100vh;
}

/* Header Section */

header {
    height: var(--header-height);
}

/* Main Section */

/* Aside Section */

/* Footer Section */

/* Dialog Modal */

dialog {
    height: 100%;
    display: flex;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 10rem;
    min-width: 25rem;
}

form {
    border: 1px solid #000;
}

form div {
    display: flex;
    gap: 1rem;
}

input[type="text"],
input[type=number] {
    height: 2rem;
    width: 18rem;
}

select {
    height: 2.5rem;
    width: 18.5rem;
}

.form-control-panel {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    gap: 3rem;
}
