@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --header-height: 5rem;
    --main-height: calc(100vh - var(--header-height) - var(--footer-height));
    --footer-height: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    font-size: 62.5%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header header header header"
        "aside main main main main main"
        "footer footer footer footer footer footer";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: var(--header-height) var(--main-height) var(--footer-height);
    height: 100vh;
}

/* Header Section */

header {
    outline: 1px solid #000;
    grid-area: header;
    height: var(--header-height);
}

nav {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: space-between;
    padding: 0 2rem;
}

.nav-logo {
    font-size: 1.25rem;
    font-weight: 400;
}

.hamburger-menu {
    border: none;
    background-color: transparent;
    width: 2.5rem;
}

.hamburger-menu:hover {
    cursor: pointer;
}

.hamburger-menu i {
    font-size: 1.35rem;
}

/* Main Section */

main {
    outline: 1px solid #000;
    grid-area: main;
    height: var(--main-height);
}

/* Aside Section */

aside {
    outline: 1px solid #000;
    grid-area: aside;
}

/* Footer Section */

footer {
    border: 1px solid #000;
    grid-area: footer;
    height: var(--footer-height);
}

/* dialog modal */

dialog {
    border: 1px solid #000;
    height: 100%;
    display: flex;
    right: 0;
    position: absolute;
    z-index: 3;
    min-width: 18rem;
}




