@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Matangi:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Body Section */

html, body {
    width: 100%;
}

body {
    font-family: 'Karla';
    font-size: 62.5%;
    min-height: 100vh;
}

/* General */

button:hover {
    cursor: pointer;
}

/* Container Section */

#container {
    display: grid;
    grid-template-columns: 1.25fr 10.75fr;
    grid-template-areas:
        "nav main";
    height: 100%;
}

/* Nav Section */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: nav;
    gap: 5rem;
    border-right: 1px solid black;
    background-color: #1b1b1b;
    color: #FFF;
}

#nav_menu_list_container {
    display: flex;
    flex-direction: column;
    gap: 20rem;
}

#logo_container {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 2rem 0 0 0;
}

#logo_container i {
    font-size: 2rem;
    color: orangered;
    padding: .2rem;
}

#nav_logo {
    font-size: 1.35rem;
    font-weight: 400;
}

.nav_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.genres button {
    padding: .25rem 0;
}

.nav_sublist {
    display: none;
    flex-direction: column;
    gap: .1rem;
    z-index: 10;
}

.nav_items button {
    background-color: transparent;
    border: none;
    font-family: 'Open Sans';
    font-size: 1.1rem;
    color: seashell;
}

.nav_items_button i {
    color: orangered;
}

/* Main Section */

main {
    grid-area: main;
}

#header_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 6rem;
}

#section_main {
    min-height: calc(100vh - 6rem);
}

.header_list {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.add_book_button {
    font-family: 'Open Sans', 'Poppins', 'Matangi';
    font-size: 1rem;
    font-weight: 400;
    padding: .2rem .6rem;
    background-color: #1b1b1b;
    color: whitesmoke;
    border: none;
    border-radius: .1rem;
}

.header_button {
    border: none;
    background-color: transparent;
}

.header_button i {
    font-size: 1.75rem;
}

.search_input {
    border: none;
    height: 2rem;
    width: 24rem;
}

.search_input:focus-visible {
    outline: none;
}

.search_container {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    padding: 0 .2rem;
}

.search_container:focus {
    outline: 1px solid red;
}

.search_container i {
    font-size: 1.75rem;
    gap: .5rem;
}

/* Section Main / Bookshelf */

.bookshelf_container {
    border: 1px solid #000;
    min-height: calc(100vh - 6rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem 2rem 2rem 2rem;
    gap: 6rem;
    perspective: 800px;
    z-index: 1;
}

.current_book {
    border: 1px solid #000;
    height: 22rem;
    width: 16rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: seashell;
    gap: 1.5rem;
    position: relative;
    z-index: 0;
}

.title_container {
    padding: 1rem 0;
}

.current_book_title {
    font-family: "Matangi", "Poppins";
    font-size: 1.3rem;
    font-weight: 500;
    color: seashell;
    letter-spacing: .1rem;
    text-align: center;
}

.author_title {
    font-size: 1.25rem;
    font-weight: 300;
}

.genre_title {
    font-size: 1.3rem;
    font-weight: 300;
}

.year_published_title {
    font-size: 1.25rem;
    font-weight: 300;
}

.book_pages {
    font-size: 1.35rem;
    font-weight: 300;
    letter-spacing: .1rem;
}

.current_book_control_panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.current_book_control_panel button {
    font-family: 'Open Sans', 'Karla', 'Matangi';
    font-size: 1.2rem;
    width: 5rem;
    background-color: transparent;
    border: none;
    color: seashell;
    padding: .1rem .2rem;
}

/* Footer */

footer {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

#footer_paragraph {
    font-size: 1.1rem;
}

/* Book Form Dialog Section */

#book_dialog {
    position: fixed;                     
    inset: 0;                           
    z-index: 15;
    display: none;                      
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

#book_form_container {
    border: 1px solid #000;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#book_form {
    border: 1px solid #000;
    border-radius: .25rem;
    height: 24rem;
    width: 36rem;
    padding: .5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #1a1a1a;
}

.form_section {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

#form_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1.5rem 0;
    width: 100%;
}

#form_title {
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: .1rem;
    color: orangered;
}

.close_form_button {
    background-color: transparent;
    border: none;
    color: orangered;
}

.close_form_button i {
    font-size: 1.75rem;
}

input, select {
    font-size: 1rem;
    font-weight: 500;
    height: 2.5rem;
    width: 100%;
    padding: 0 0 0 .5rem;
}

input::placeholder {
    font-family: 'Matangi';
    color: #000;
}

.reading_status_label {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.1rem;
    font-weight: 400;
    padding: .25rem 0;
    color: orangered;
}

.reading_status_section {
    display: flex;
    align-items: center;
}

.reading_status {
    height: 1rem;
    width: 1rem;
}

.form_control_panel {
    display: flex;
    gap: 2rem;
    padding: .25rem 0 .5rem 0;
}

.create_book_form {
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 400;
    height: 1.75rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orangered;
    background-color: transparent;
    border: none;
}
