@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #D7CEC7;
    --secondary-color-1: #565656;
    --secondary-color-2: #76323F;
    --secondary-color-3: #C09F80;
    --header-height: 6rem;
    --main-height: calc(100vh - var(--header-height) - var(--footer-height));
    --aside-height: calc(100vh - var(--header-height) - var(--footer-height));
    --footer-height: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html, body {
    height: 100%;
    width: 100%;
}

/* Body Section */

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    z-index: 1;
    height: 100vh;
}

/* Container Section */

.container {
    display: grid;
    grid-template-areas: 
        "header header header header header header header header"
        "aside main main main main main main main"
        "aside main main main main main main main"
        "footer footer footer footer footer footer footer footer";
}

/* Header Section */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    height: var(--header-height);
    grid-area: header;
    background-color: var(--secondary-color-2);
    color: var(--secondary-color-1);
}

#logo {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .1rem;
    color: var(--secondary-color-3);
}

/* Toggle Button */

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 4px;
    background-color: var(--secondary-color-3);
    transition: .4s;
}

input:checked + .slider {
    background-color: #ccc;
}

input:focused + .slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Main Section */

main {
    height: var(--main-height);
    grid-area: main;
}

/* Aside Section */

aside {
    background-color: var(--primary-color);
    grid-area: aside;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--secondary-color-2);
}

.nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-top: 1.5rem;
}

.nav-list-container {
    width: 50%;
}

nav h2 {
    font-size: 1.25rem;
    font-weight: 350;
    padding: .75rem 0;
}

.nav-list {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 1rem;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: .25rem;
    font-weight: 500;
}

.nav-item:hover {
    cursor: pointer;
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}

.nav-item i {
    font-size: 1.3rem;
}

.nav-section:nth-child(3) {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    align-self: center;
}

button {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 2px;
}

button:hover {
    cursor: pointer;
}

/* Footer Section */

footer {
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--footer-height);
    width: 100%;
    grid-area: footer;
    background-color: var(--secondary-color-2);
    color: var(--primary-color);
}

/* Dialog Modal */

dialog {
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    z-index: 5;
    opacity: .9;
}

form {
    border: 1px solid #000;
    height: 20rem;
    width: 20rem;
}

form h2 {
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
}

form div {
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}

form input, form select {
    height: 2.5rem;
    width: 90%;
}